<div class="md:flex md:flex-col hidden min-h-screen h-full border border-blue-600 bg-[#333333] md:min-w-[220px] lg:min-w-[260px]">
    <div class="flex items-center p-4 gap-4">
        <img src="assets/logo.jpg" alt="Logo" class="w-[79px] h[75px] mr-2">
        <h1 class="text-[24px] font-medium text-white">Qaree</h1>
    </div>
    <div class="flex-grow w-full mt-2">
        <ul class="space-y-3 w-full">
            <li>
                <a routerLink="users" routerLinkActive="bg-[#565656]"  class="block text-white px-6 py-3 hover:bg-[#565656]">Users Management</a>  
            </li>
            <li>
                <a routerLink="books" routerLinkActive="bg-[#565656]"  class="block text-white px-6 py-3 w-full hover:bg-[#565656]">Books Management</a>
            </li>
            <li>
                <a routerLink="groups" routerLinkActive="bg-[#565656]"  class="block text-white px-6 py-3 hover:bg-[#565656]">Groups Management</a>
            </li>
        </ul>
    </div>
    <button *ngIf="showLogoutConfirmation" (click)="SignOut()" class="flex text-white bg-red-500 rounded-md font-semibold p-2">Logout</button>
    <button class="flex items-center justify-between p-4" (click)="toggleLogout()">
        <div class="flex items-center">
            <svg class="rounded-full mr-4" xmlns="http://www.w3.org/2000/svg" width="44px" height="44px" enable-background="new 312.809 0 401 401" version="1.1" viewBox="312.809 0 401 401">
                <g transform="matrix(1.223 0 0 1.223 -467.5 -843.44)">
                    <rect x="601.45" y="653.07" width="401" height="401" fill="#E4E6E7"/>
                    <path d="m802.38 908.08c-84.515 0-153.52 48.185-157.38 108.62h314.79c-3.87-60.44-72.9-108.62-157.41-108.62z" fill="#AEB4B7"/>
                    <path d="m881.37 818.86c0 46.746-35.106 84.641-78.41 84.641s-78.41-37.895-78.41-84.641 35.106-84.641 78.41-84.641c43.31 0 78.41 37.9 78.41 84.64z" fill="#AEB4B7"/>
                </g>
            </svg>
            <div class="flex flex-col">
                <h2 class="text-white font-medium">Name</h2>
                <h3 class="text-sm text-gray-400">Logged in</h3>
            </div>
        </div>
        <div class="flex items-center">
          <div class="text-gray-400 mr-4 mb-2">...</div>
        </div>
    </button>
</div>