<div class="p-4 relative mx-auto mr-[50px] ml-[50px] mt-[45px] min-w-[900px] border border-black border-opacity-40 rounded-md shadow-md">
    <!-- If Book Is Selected -->
    <div *ngIf="selectedBook">
        <h1 class="text-center text-xl font-semibold mb-4 mt-1">Book Details</h1>
        <div class="flex flex-wrap justify-between">
            <!-- First Column -->
            <div class="w-1/3 px-2">
                <label class="block">Book Name</label>
                <input type="text" [(ngModel)]="editedBook.name" (ngModelChange)="onInputChange()" class="input border border-[#C8CCD2] rounded-sm shadow-sm h-8 w-full max-w-xs" />
                
                <label class="block mt-4">Description</label>
                <textarea type="text" [(ngModel)]="editedBook.description" (ngModelChange)="onInputChange()"  class="input border border-[#C8CCD2] rounded-sm shadow-sm h-8 w-full max-w-xs"> </textarea>

                <label class="block mt-4">Authors</label>
                <input *ngIf="editedBook.authors == null" type="text" disabled class="input border border-[#C8CCD2] rounded-sm shadow-sm h-8 w-full max-w-xs mt-1" />
                <div *ngFor="let author of editedBook.authors; let i = index">
                    <input type="text" disabled [(ngModel)]="editedBook.authors[i]" (ngModelChange)="onInputChange()" class="input border border-[#C8CCD2] rounded-sm shadow-sm h-8 w-full max-w-xs mt-1" />
                </div>
            </div>
            <!-- Second Column -->
            <div class="w-1/3 px-2 ml-6">
                <div class="flex flex-col">
                    <label>Genre</label>
                    <span *ngIf="selectedBook.genres == null" class="text-sm">There are no genres assigned</span>
                    <div *ngIf="selectedBook.genres != null" class="flex overflow-x-scroll mt-2 overflow-hidden">
                        <div class="flex mb-3">
                            <div class="flex gap-2">
                                <div *ngFor="let genre of selectedBook.genres" class="badge bg-white text-black p-2.5 whitespace-nowrap">{{genre}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="block m-1">ID</label>
                <input type="text" value="{{selectedBook.id}}" disabled class="input border border-[#C8CCD2] rounded-sm shadow-sm h-8 w-full max-w-xs" />
                
                <label class="block mt-4">ISBN</label>
                <input type="text" value="{{selectedBook.isbn}}" disabled class="input border border-[#C8CCD2] rounded-sm shadow-sm h-8 w-full max-w-xs" />
            </div>
            <!-- Third Column -->
            <div class="flex flex-col items-center px-2 mr-4">
                <h3 class="text-lg font-semibold">Book Cover</h3>
                <div class=" relative">
                    <img class="rounded-xl border" src="{{selectedBook.image}}" width="130px" height="130px"/>
                </div>
                <button  [disabled]="!isChanged" (click)="saveChanges()" class="w-[70px] rounded-lg p-2 mt-4 text-white" [ngClass]="{'bg-green-700': isChanged, 'bg-gray-400': !isChanged}">Save</button>
            </div>
        </div>
    </div>
    <!-- If Book Is Not Selected -->
    <div *ngIf="!selectedBook" class="flex justify-center items-center min-h-[17rem]">
        <h1 class="font-bold text-xl">Select a book to view its details!</h1>
    </div> 
</div>